@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');

:global {

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
  }
  
  h1 {
    font-family: 'Amatic SC',cursive;
    text-align: center;
  }
  
  h2 {
    font-family: 'Amatic SC',cursive;
    font-size: 32px;
      @media (max-width: 750px){
        font-size: 29px;
      }
      @media (max-width: 450px){
        font-size: 27px;
      }
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  
  h3 {
     font-family: 'Amatic SC',cursive; 
     font-size: 28px;
      @media (max-width: 750px){
        font-size: 25px;
      }
      @media (max-width: 450px){
        font-size: 23px;
      }
     letter-spacing: 0.166em; 
     text-align: center;
  }
  
  a {
    color: #24b1c1;
    text-decoration: none;
  }
  
  .social {
    padding: 10px 5px 10px 5px;
  }
  
  .theme-light {
    --primary-color: #f5f3ed;
    --secondary-color: #d4d4d4;
    --font-color: black;
    --arrow-color: rgba(0, 0, 0, 0.5);
  }

  .theme-dark {
    --primary-color: #0C262B;
    --secondary-color: #333;
    --font-color: white;
    --arrow-color: rgba(255, 255, 255, 0.5);
  }
  
  :root {
    --hambi-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51 , 0.95);
    --menu-speed: 0.75s;
  }
  
  #térkép {
    width: 400px;
    height: 300px;
    display: inline-block;
    max-width: 100%;
    z-index: 0;
  }
 
  .tooltip {
    position: relative;
    display: inline-block;

    & .tooltiptext {
      font-family: "Roboto", sans-serif;
      visibility: hidden;
      top: 2.5px;
      right: 105%; 
      width: 120px;
      background-color: blanchedalmond;
      color: #2e3855;
      text-align: center;
      border-radius: 15px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
    }
    
    &:hover .tooltiptext {
      visibility: visible;
    }
  }
    
  .heading-1 {
    color: #ff8b3f;
  }  
  .heading-2 {
    color: #258dfa;
  }
  .heading-3 {
    color: #e03de0;
  }
  .heading-4 {
    color: #249b0a;
  }
  .heading-5 {
    color: #eb5050;
  }
  .heading-6 {
    color: #0b948d;
  }
  .heading-7 {
    color: #9366d6;
  }
  
  .divider {
    border-bottom: 1px solid #d4d4d4;
    background-color: #DADADA;
    height: 1px;
    margin: 0.5em 0px 1.5em;
    
    & span {
        display: block;
        width: 50px;
        height: 1px;
    }
      
    & .span1 {
        background-color: #ff8b3f;
    }
    & .span2 {
        background-color: #258dfa;
    }    
    & .span3 {
        background-color: #e03de0;
    }   
    & .span4 {
        background-color: #249b0a;
    }  
    & .span5 {
        background-color: #eb5050;
    }  
    & .span6 {
        background-color: #0b948d;
    }  
    & .span7 {
        background-color: #9366d6;
    }  
  }
  
  /* container for text, glider, iframe */
  .container {
    width: 100%;
    display: flex;
      @media (max-width: 1200px) {
        flex-direction: column;
        gap: 0em;
      }
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    flex-shrink: 0;
      @media (max-width: 1200px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    width: 400px;
    height: 225px;
  }
  
  /* container for iframe */
  .cont {
    @media (max-width: 1200px) {
      position: relative;
      max-width: 400px;
      width: 100%;
      padding-top: clamp(100px, 56.25%, 225px); /* 16:9 Aspect Ratio */
      overflow: hidden;
    }
  }
  
}
