<template>
  <Header />
  <Navbar />
  <div :class="$style.layout">
    <Sidenav v-if="contentMenu" />
    <main :class="[$style.main, {[$style.withNav]: contentMenu}]">
      <RouterView />
    </main>
  </div>
  <Footer />
</template>

<script>
  import Header from './components/Header.vue';
  import Navbar from './components/Navbar.vue';
  import Sidenav from './components/Sidenav.vue';
  import Footer from './components/Footer.vue';
  
  export default {
    name: 'Index',
    components: {
      Header,
      Navbar,
      Sidenav,
      Footer,
    },
    computed: {
      contentMenu () {
        return this.$route.name != 'home' && this.$route.name != 'contact' && this.$route.name != 'attributions';
      },
    }
  };
  
</script>

<style lang="styl" module>
  .layout {
    @media (max-width: 700px) {
      gap: 0em;
    }
    gap: 2em;
    clear: both;
    display: flex;
    padding: 1em;
    max-width: 1200px;
    margin: auto;
   } 
    
  .main {
    &.withNav {
      @media (min-width: 700px) {
        max-width: calc(100% - 230px - 2em);
      }
    }
    
    max-width: 100%;
    flex-grow: 1;
  }
</style>
