<template>
  <div :class="$style.wrapper" role="separator">
    <div :class="[$style.divider, $style.transparent, $style.dot]"></div>
  </div>
</template>

<script>
  export default {
    name: 'Divider',
  };
</script>

<style lang="styl" module>
  .wrapper {
    padding-bottom: 20px;
  }

  .divider {
    position: relative;
    margin-top: 30px;
    height: 1px;
  }

  .transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, var(--font-color), transparent);
  }

  .dot:after {
    content: "";
    position: absolute;
    top: -9px;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: goldenrod;
    border: 1px solid var(--font-color);
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #aa7b05,
            0 0 0 4px var(--primary-color);
  }
</style>
