<template>
  <footer :class="$style.footer">
    <i>&copy; 2021 {{$t('footer')}}</i>
    <br>
    <router-link to="/attributions" :class="$style.link">
      {{$t('attributions.title')}}
    </router-link>
  </footer>
</template>

<script>
  export default {
    name: 'Footer',
  }
</script>

<style lang="styl" module>
  .footer {
    padding: 20px;
    text-align:center;
    font-size: 15px;
  }
  
  .link {
    color: inherit;
    text-decoration: underline;
    transition: color 0.4s ease;
    
    &:hover {
      color: #888;
    }
    
  }
</style>
