<template>
  <div ref="glider" class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li v-for="i in images" :key="i.src" class="glide__slide">
          <img :src="i.src" :alt="i.alt"/>
        </li>
      </ul>
    </div>      
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<" aria-label="previous image"><i class="fas fa-arrow-left"></i></button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">" aria-label="next image"><i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
</template>

<script>
  import Glide from '@glidejs/glide';

  const config = {
    type: 'carousel',
    focusAt: 'center',
    gap: 20,
    perView: 1.7,
  }
  
  export default {
    name: 'Glider',
    props: {
      images: {
        type: Array,
      },
    },
    mounted () {
        new Glide(this.$refs.glider, config).mount()
    },
  };
</script>

<style lang="styl">

  :global {
  
    .glide {
      max-width: 400px;
      flex-shrink: 0;
    }
    
    .glide__arrow {
      z-index: 0 !important;
      color: var(--font-color) !important;
      border: 2px solid var(--arrow-color) !important;
      
      &:hover {
        border-color: var(--font-color) !important;
      }
      
    }
    
    .glide__slide img {
      width: 100%;
    }
    
    .glide__slide {
      filter: blur(4px);
      opacity: .7;
      transition: .3s linear;
      transition-property: filter, opacity, transform;
    }
    
    .glide__slide--active {
      opacity: 1;
      filter: none;
      transform: scale(1.1);
    }
    
    .glide__slides {
      overflow: visible !important;
      align-items: center;
    }
    
  }
</style>
