<template>
  <div :class="$style.menu_wrap">
    <input v-model="isOpen" type="checkbox" :class="$style.toggler" aria-label="Mobile Menu">
    <div :class="$style.hamburger"><div></div></div>
  </div>
</template>

<script>
  export default {
    name: 'Hamburger',
    props: {
      modelValue: Boolean,
    },
    emits: ['update:modelValue'],
    data () {
      return {
        isOpen: false
      }
    },
    watch: {
      isOpen (newVal) {
        this.$emit('update:modelValue', newVal);
      },
      modelValue (newVal) {
        this.isOpen = newVal;
      },
    },
    mounted() {
      window.matchMedia('(min-width: 700px)').addEventListener('change', (e) => {
        if (e.matches) {
          this.isOpen = false;
        }
      });
    }
  };
</script>

<style lang="styl" module>
  .menu_wrap {
    position: relative;
    display: none;
    @media (max-width: 700px) {
      display: inline-block;
    }
    height: 60px;
    width: 60px;
  }

  .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    appearance: none;
    margin: 0;
  }
  
  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: var(--hambi-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Hamburger Line */
  .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .hamburger > div::before,
  .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .toggler:checked + .hamburger > div:before,
  .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
</style>
