<template>
  <header :class="$style.header" 
          :style="{'background-image': isDark ? `url(${darkImage})`: `url(${lightImage})`}">
    <h1 :class="$style.title">{{$t('header.title')}}</h1>
    <div class="tooltip">
      <SliderCheckbox @change="toggleTheme"/>
      <span class="tooltiptext">{{$t('header.tooltip_theme')}}</span>
    </div>
    <div style="margin-top: 10px">
      <LocaleChanger/>
    </div>
  </header>
</template>

<script>
  import LocaleChanger from './LocaleChanger.vue';
  import SliderCheckbox from './SliderCheckbox.vue';
  import lightImage from '../images/background/grey.png';
  import darkImage from '../images/background/black.png';

  export default {
    name: 'Header',
    components: { SliderCheckbox, LocaleChanger},
    data () {
      return {
        isDark: localStorage.getItem('theme') === 'theme-dark',
        lightImage,
        darkImage,
      };
    },
    methods: {
      // function to set a given theme/color-scheme
      setTheme(themeName) {
        localStorage.setItem('theme', themeName);
        document.documentElement.className = themeName;
      },
      // function to toggle between light and dark theme
      toggleTheme() {
        if (this.isDark) {
          this.setTheme('theme-light');
        } else {
          this.setTheme('theme-dark');
        };
        this.isDark = !this.isDark;
      },
    },
    mounted () {
      if (this.isDark) {
        this.setTheme('theme-dark');
        document.getElementById('slider').checked = true;
      } else {
        this.setTheme('theme-light');
        document.getElementById('slider').checked = false;
      }
    },
  };
</script>

<style lang="styl" module>
  .header {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    font-family:'Amatic SC',cursive;
    text-align:right;
  }

  .title {
    margin-bottom: 20px;
    text-align: center;
    @media (max-width: 600px){
      font-size: 80px;
    }
    @media (max-width: 500px){
      font-size: 70px;
    }
    @media (max-width: 400px){
      font-size: 60px;
    }
    font-size: 90px;
    letter-spacing: 0.040em;
    line-height: 1;
    color: #4CAF50;
    text-shadow: -1px 0 #555, 0 1px #383838, 1px 0 black, 0 -1px #383838;
  }
</style>
