<template>
  <div>
    <select v-model="$i18n.locale" @change="setLang" :class="$style.LocaleChanger" :style="{'background': `url(${arrowImg}) no-repeat right var(--hambi-color)`}"  aria-label="Language Selector">
      <option v-for="lang in $i18n.availableLocales" :key="lang" :value="lang">
        {{ lang }}
      </option>
    </select>
  </div>
</template>

<script>
  import arrowImg from '../images/arrow.svg';
  
  export default {
    name: 'LocaleChanger',
    data () {
      return {
        arrowImg,
      };
    },
    methods: {
      setLang () {
        document.documentElement.lang=this.$i18n.locale;
      },
    },
  }
</script>

<style lang="styl" module>
  .LocaleChanger {
    appearance: none;
    width: 55px;
    height: 30px;
    font-size: 15px;
    color: #fff;
    border: 2px solid #333;
    border-radius: 8px;
  }
</style>
