<template>
  <nav :class="[$style.menu, { [$style.menuIsOpened]: hamburger }]" aria-label="Complex navigation" aria-live="polite">
    <div>
      <div>
        <ul :class="$style.uList" style="overflow: auto; max-height: 95vh;">
          <li @click="closeMenu" :class="$style.list">
            <router-link to="/" :class="$style.links">
              {{ $t('navbar.home') }}    
            </router-link>
          </li>
          <li>
            <button @click="subMenuToggle" :class="$style.buttonMenu">{{ $t('navbar.content') }} 
            <i v-if="subMenu" :class="['fas', 'fa-fw', `fa-chevron-up`, 'fa-xs']"></i>
            <i v-else :class="['fas', 'fa-fw', `fa-chevron-down`, 'fa-xs']"></i>
            </button>
            <ul :class="$style.uList">
              <li @click="closeMenu" v-if="subMenu" v-for="s in subLinks" :key="s.title" :class="$style.subList">
                <router-link :to="{name:s.name}" :class="$style.links">
                  {{ s.title }}
                </router-link>
              </li>
            </ul>
          </li>
          <li @click="closeMenu" :class="$style.list">
            <router-link to="/contact" :class="$style.links">
              {{ $t('navbar.contact') }}         
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav :class="[$style.navbar, { [$style.isHidden]: hamburger }]" aria-label="Main navigation">
    <router-link v-for="l in links" :key="l.title" :to="{name:l.name}" class="navbarLinks">
      <i :class="['fas', 'fa-fw', `fa-${l.icon}`]"></i>
      {{ l.title }}
    </router-link>
    <Hamburger v-model="hamburger" style="margin-left: auto"/>
  </nav>
</template>

<script>
  import Hamburger from './Hamburger.vue';
  
  export default {
    name: 'Navbar',
    components: { Hamburger },
    data () {
      return {
        hamburger: false,
        subMenu: false,
      };
    },
    computed: {
      links() {
        return [
          {
            name: 'home',
            title: this.$t('navbar.home'),
            icon: 'home',
          },
          {
            name: 'data',
            title: this.$t('navbar.content'),
            icon: 'book',
          },
          {
            name: 'contact',
            title: this.$t('navbar.contact'),
            icon: 'address-card',
          },
        ];
      },
      subLinks () {
        return [
             'data',
             'first_thematic_maps',
             'modern_thematic_maps',
             'traditional_multimedia',
             'digital_multimedia',
             'web_cartography',
             'mapping_services',
             'modern_technologies',
        ].map(k=>({ name:k, title:this.$t(`sidenav.${k}`) }));
      }
    },
    watch: {
      hamburger: function() {
        if(this.hamburger) {
          document.documentElement.style.overflow = 'hidden'
          return
        }
        document.documentElement.style.overflow = 'auto'
      }
    },
    methods: {
      subMenuToggle() {
        this.subMenu = !this.subMenu;
      },
      closeMenu() {
        this.hamburger = false;
        this.subMenu = false;
      }
    }
  };
</script>

<style lang="styl" module>
  .navbar {
    position: sticky;
    display: flex;
    top: 0;
    z-index: 1;
    background-color: var(--secondary-color);
    transition: background .4s ease;
    
    &:not(.isHidden) {
      transition-delay: .1s;
    }
    &.isHidden {
      background: transparent;
      float: right;
      a {
        display: none;
      }
    }

    a {
      @media (max-width: 700px) {
        display: none;
      }
      display: inline-flex;
      align-items: center;
      color: var(--font-color);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      border-bottom: 3px solid transparent;
      
      &:hover {
        border-bottom: 3px solid #2e9632;
      }
    }
  }
  
  :global {
    a.navbarLinks.router-link-active {
      background-color: #4CAF50;
      color: #fff;
    }
  }
  
  .menu.menuIsOpened {
    visibility: visible;
   
    & > div {
      transform: scale(1);
      transition-duration: var(--menu-speed);
    }

    & > div > div {
      opacity: 1;
      transition: opacity 0.4s ease 0.4s;
    } 
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu > div > div {
    text-align: center;
    max-width: calc(100vw - 120px);
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .uList {
    list-style: none;
    color: #fff;
    margin: 0px;
    padding: 0px;
  }
  
  .list {
    @media (max-width: 480px){
      font-size: 1.3rem;
    }
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .subList {
    text-align: left;
      @media (max-width: 480px){
        font-size: 1rem;
      }
    font-size: 1.2rem;
    padding: 0.4rem;
    
    &:hover {
      color: #888;
    }
    
  }
  
  .links {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  
  .buttonMenu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    @media (max-width: 480px){
      font-size: 1.3rem;
    }
    font-size: 1.5rem;
    padding: 1rem;
  }
</style>
