<template>
  <nav aria-label="Content navigation">
    <div :class="$style.sidenav">
      <router-link v-for="l in links" :key="l.title" :to="{name:l.name}" class="sidenavLinks">
       {{ l.title }}
      </router-link>
    </div>
  </nav>
</template>

<script>
  export default {
    name: 'Sidenav',
    computed: {
      links() {
        return [
             'data',
             'first_thematic_maps',
             'modern_thematic_maps',
             'traditional_multimedia',
             'digital_multimedia',
             'web_cartography',
             'mapping_services',
             'modern_technologies',
        ].map(k=>({ name:k, title:this.$t(`sidenav.${k}`) }));
      },
    },
  };

</script>

<style lang="styl" module>
  .sidenav {
    position: sticky;
    top: 30%;
    @media (max-width: 700px) {
      display: none;
    }
    width: 230px;    
    margin-top: 5px;
    padding: 8px 0;
    background: var(--secondary-color);
    
    a {
      display: block;
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 18px;
      color: var(--font-color);   
      
      &:hover {
        color: #888;
      }
      
    }
  }
  
  :global {
    a.sidenavLinks.router-link-exact-active {
      color: #4CAF50;
    }
  }
</style>
