<template>
  <label :class="$style.switch">
    <input id="slider" type="checkbox" b-bind="$attrs" aria-label="Theme Toggle" >
    <span :class="[$style.slider, $style.round]"></span> 
  </label>
</template>

<script>
  export default {
    name: 'SliderCheckbox',
  };
</script>

<style lang="styl" module>
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
    /* Hide default HTML checkbox */
    input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
        
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--secondary-color);
      transition: .4s;
      
      /* Rounded sliders */
      &.round {
        border-radius: 34px;

        &::before {
          border-radius: 50%;
        }
      }
      
      &::before {
        position: absolute;
        content: "☀";
        font-size: 30px; 
        height: 40px;
        width: 40px;
        left: 0px;
        bottom: 4px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        display: flex;
        justify-content: center;/* align horizontal */
        align-items: center;/* align vertical */
        transition: .4s;
        text-shadow: 0 0 3px aliceblue;
        box-shadow: 0 0px 15px #2020203d;
        background: var(--primary-color);
      }
    }

    input:checked + .slider {
      background-color: var(--primary-color);
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider::before {
      
      content: "☾";
      transform: translateX(26px);
      background: var(--secondary-color);
    }
  }

</style> 
