<template>
  <h1>{{$t('contact.title')}}</h1>
  <div style="text-align: center;">
    <div id="térkép" alt="map"></div>
    <address v-html="$t('contact.address')" style="padding-top: 10px">
    </address>
    <a href="https://terkep.elte.hu/" target="_blank" :aria-label="website"><i class="fas fa-globe-americas fa-2x social"></i></a>
    <a href="https://www.facebook.com/elte.lazarus/" target="_blank" aria-label="facebook"><i class="fab fa-facebook-square fa-2x social"></i></a>
    <a href="https://www.instagram.com/cartography_geoinformatics" target="_blank" aria-label="instagram"><i class="fab fa-instagram fa-2x social"></i></a>
  </div>
</template>

<script>
  import L from 'leaflet';
  import iconRetinaUrl from 'leaflet/dist/images/marker-icon-2x.png';
  import iconUrl from 'leaflet/dist/images/marker-icon.png';
  import shadowUrl from 'leaflet/dist/images/marker-shadow.png';
  
  
  export default {
    mounted () {
      var kp=[47.47410,19.06145];
      var map=L.map('térkép').setView(kp, 15);
      
      // létrehozunk egy térképréteget és hozzáadjuk a térképhez
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      L.Marker.prototype.options.icon = L.icon({
        iconRetinaUrl,
        iconUrl,
        shadowUrl,
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        tooltipAnchor: [16, -28],
        shadowSize: [41, 41],
      });
      
      L.marker(kp).addTo(map)
        .bindPopup('47.47410, 19.06145')

    },
  };
</script>
