<template>
  <h2 class="heading-1">{{$t('data.title')}}</h2>
    <div class="divider"> <span class="span1"></span>
    </div>
  
  <div class="container">  
    <div v-html="$t('data.catalan')">
    </div>  
    <Glider :images="catalan" />
  </div>
    
  <Divider />
  
  <div class="container">  
    <div v-html="$t('data.graunt')">
    </div>  
    <Glider :images="graunt" />
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('data.playfair')">
    </div>  
    <Glider :images="playfair" />
  </div>
  
  <Divider />
  
  <div class="container"> 
    <div v-html="$t('data.humboldt')">
    </div>
    <Glider :images="humboldt" />
  </div>
  
  <Divider />

  <div class="container">  
    <div v-html="$t('data.pictorial')">
    </div>  
    <Glider :images="pictorial" />
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('data.bertin')">
    </div>  
    <Glider :images="bertin" />
  </div>
</template>

<script>
  import Divider from '../components/Divider.vue';
  import Glider from '../components/Glider.vue';  

  import catalan_1 from '../images/catalan_1.jpg';
  import catalan_2 from '../images/catalan_2.jpg';
  import catalan_3 from '../images/catalan_3.jpg';
  import catalan_4 from '../images/catalan_4.jpg';
  
  import graunt_1 from '../images/graunt_1.jpg';
  import graunt_2 from '../images/graunt_2.jpg';
  
  import playfair_1 from '../images/playfair_1.jpg';
  import playfair_2 from '../images/playfair_2.jpg';
  import playfair_3 from '../images/playfair_3.jpg';
  import playfair_4 from '../images/playfair_4.jpg';
  import playfair_5 from '../images/playfair_5.jpg';
  
  import humboldt_1 from '../images/humboldt_1.jpg';
  import humboldt_2 from '../images/humboldt_2.jpg';
  
  import pictorial_1 from '../images/pictorial_1.jpg';
  import pictorial_2 from '../images/pictorial_2.jpg';
  import pictorial_3 from '../images/pictorial_3.jpg';
  import pictorial_4 from '../images/pictorial_4.jpg';
  
  import bertin_1 from '../images/bertin_1.jpg';
  import bertin_2 from '../images/bertin_2.jpg';
  
  export default {
    components: { Divider, Glider },
    data () {
      return {
        catalan: [
          {src: catalan_1, alt:"catalan atlas"},
          {src: catalan_2, alt:"a diagram from the atlas"},
          {src: catalan_3, alt:"a diagram from the atlas"},
          {src: catalan_4, alt:"a diagram from the atlas"},
        ],
        graunt: [
          {src: graunt_1, alt:"Bills of Mortality"},
          {src: graunt_2, alt:"a table of the Christenings and Mortality for 1605 and 1606"},
        ],
        playfair: [
          {src: playfair_1, alt:"a chart"},
          {src: playfair_2, alt:"a bar chart"},
          {src: playfair_3, alt:"a bar chart"},
          {src: playfair_4, alt:"a chart"},
          {src: playfair_5, alt:"a chart"},
        ],
        humboldt: [
          {src: humboldt_1, alt:"a diagram showing change in temperature"},
          {src: humboldt_2, alt:"Mexico's population and area size compared"},
        ],
        pictorial: [
          {src: pictorial_1, alt:"automobiles of the earth"},
          {src: pictorial_2, alt:"births and deaths in Germany in a year"},
          {src: pictorial_3, alt:"how men were employed during Worl War II"},
          {src: pictorial_4, alt:"men getting married in Germany in a year"},
        ],
        bertin: [
          {src: bertin_1, alt:"the seven visual variables"},
          {src: bertin_2, alt:"different kinds of maps"},
        ]
      };
    },
  };
</script>
