<template>
  <h2 class="heading-5">{{$t('digital_multi.title')}}</h2>
    <div class="divider"> <span class="span5"></span>
    </div>
  
  <div v-html="$t('digital_multi.introduction')">
  </div>
    
  <Divider />
  
  <div class="container">  
    <div v-html="$t('digital_multi.beginnings')">
    </div>
    <div class="cont">
      <iframe 
      class="video" 
      src="https://www.youtube-nocookie.com/embed/RocLdMyUG-4" 
      title="One of the first computer-generated films" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
      </iframe>
    </div>
  </div>
    
  <Divider />
  
  <div class="container">  
    <div v-html="$t('digital_multi.maps')">
    </div>
    <Glider :images="digital" />
  </div>
    
  <Divider />
  
  <div class="container">  
   <div v-html="$t('digital_multi.atlases')">
   </div>
   <Glider :images="digital_atlas" />
  </div>
</template>
 
<script>
  import Divider from '../components/Divider.vue';
  import Glider from '../components/Glider.vue';  
  
  import digital_1 from '../images/digital_1.jpg';
  import digital_2 from '../images/digital_2.jpg';
  import digital_3 from '../images/digital_3.jpg';
  import digital_4 from '../images/digital_4.jpg';
  import digital_5 from '../images/digital_5.jpg';
  import digital_6 from '../images/digital_6.jpg';
  import digital_7 from '../images/digital_7.jpg';
  import digital_8 from '../images/digital_8.jpg';
  import digital_9 from '../images/digital_9.jpg';
  import digital_10 from '../images/digital_10.jpg';
  
  import digital_atlas_1 from '../images/digital_atlas_1.jpg';
  import digital_atlas_2 from '../images/digital_atlas_2.jpg';
  import digital_atlas_3 from '../images/digital_atlas_3.jpg';
  import digital_atlas_4 from '../images/digital_atlas_4.jpg';
  import digital_atlas_5 from '../images/digital_atlas_5.jpg';
  import digital_atlas_6 from '../images/digital_atlas_6.jpg';
  
  export default {
    components: { Divider, Glider },
    data () {
      return {
        digital: [
          {src: digital_1, alt:"map with hypsometric tints"},
          {src: digital_2, alt:"digital map"},
          {src: digital_3, alt:"digital map with pie charts"},
          {src: digital_4, alt:"false color satellite image"},
          {src: digital_5, alt:"topography shading"},
          {src: digital_6, alt:"digital map"},
          {src: digital_7, alt:"digital map"},
          {src: digital_8, alt:"digital choropleth map"},
          {src: digital_9, alt:"digital map with bar charts"},
          {src: digital_10, alt:"digital choropleth map"},
        ],
        digital_atlas: [
          {src: digital_atlas_1, alt:"digital_atlas of Switzerland"},
          {src: digital_atlas_2, alt:"digital_atlas of Switzerland"},
          {src: digital_atlas_3, alt:"digital_atlas of Switzerland"},
          {src: digital_atlas_4, alt:"digital_atlas of Switzerland"},
          {src: digital_atlas_5, alt:"digital_atlas of Switzerland"},
          {src: digital_atlas_6, alt:"digital_atlas of Switzerland"},
        ],
      };
    },
  };
</script>
