<template>
  <h2 class="heading-2">{{$t('first_thematic.title')}}</h2>
    <div class="divider"> <span class="span2"></span>
    </div>
  
  <div class="container">  
    <div v-html="$t('first_thematic.first_thematic')">
    </div>  
    <Glider :images="halley" />
  </div>
  
  <Divider />
  
  <div class="container">
    <div v-html="$t('first_thematic.seaman')">
    </div>
    <Glider :images="seaman" />
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('first_thematic.geological')">
    </div>  
    <Glider :images="geology" />
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('first_thematic.berghaus')">
    </div>
    <Glider :images="berghaus" />
  </div>
  
  <Divider />
  
  <div class="container">
    <div v-html="$t('first_thematic.french')">
    </div>
    <Glider :images="french" />
  </div>
  
  <Divider />
  
  <div class="container">
    <div v-html="$t('first_thematic.snow')">
    </div>
    <Glider :images="snow" />
  </div>
</template>

<script>
  import Divider from '../components/Divider.vue'
  import Glider from '../components/Glider.vue';  

  import halley_1 from '../images/halley_1.jpg';
  import halley_2 from '../images/halley_2.jpg';
  import halley_3 from '../images/halley_3.jpg';
  import halley_4 from '../images/halley_4.jpg';
  
  import seaman_1 from '../images/seaman_1.jpg';
  import seaman_2 from '../images/seaman_2.jpg';
  
  import geology_1 from '../images/geology_1.jpg';
  import geology_2 from '../images/geology_2.jpg';
  import geology_3 from '../images/geology_3.jpg';
  import geology_4 from '../images/geology_4.jpg';
  
  import berghaus_1 from '../images/berghaus_1.jpg';
  import berghaus_2 from '../images/berghaus_2.jpg';
      
  import french_1 from '../images/french_1.jpg';
  import french_2 from '../images/french_2.jpg';
  
  import snow_1 from '../images/snow_1.jpg';
  import snow_2 from '../images/snow_2.jpg';
  
  export default {
    components: { Divider, Glider },
    data () {
      return {
        halley: [
          {src: halley_1, alt:"the first thematic map"},
          {src: halley_2, alt:"part of the first thematic map"},
          {src: halley_3, alt:"the description of the map"},
          {src: halley_4, alt:"the compass on the map"},
        ],
        seaman: [
          {src: seaman_1, alt:"one of Seaman's map"},
          {src: seaman_2, alt:"one of Seaman's map"},
        ],
        geology: [
          {src: geology_1, alt:"part of the map"},
          {src: geology_2, alt:"Smith's map"},
          {src: geology_3, alt:"the description of the map"},
          {src: geology_4, alt:"part of the map"},
        ],
        berghaus: [
          {src: berghaus_1, alt:"Humbold's map"},
          {src: berghaus_2, alt:"Humbold's map"},
        ],
        french: [
          {src: french_1, alt:"the first black and white choropleth map"},
          {src: french_2, alt:"the first scatter map"},
        ],
        snow: [
          {src: snow_1, alt:"part of Snow's map"},
          {src: snow_2, alt:"Snow's map"},
        ]
      };
    },
  };
</script>
