<template>
  <h2 class="heading-7">{{$t('mapping_services.title')}}</h2>
    <div class="divider"> <span class="span7"></span>
    </div>
    
  <div v-html="$t('mapping_services.mapping')">
  </div>
  
  <Divider />
    
  <div class="container">  
    <div v-html="$t('mapping_services.google')">
    </div>
    <Glider :images="google" />
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('mapping_services.osm')">
    </div>
    <Glider :images="osm" />
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('mapping_services.other')">
    </div>
    <Glider :images="other" />
  </div>
</template>

<script>
  import Divider from '../components/Divider.vue';
  import Glider from '../components/Glider.vue'; 
  
  import google_1 from '../images/google_1.jpg';
  import google_2 from '../images/google_2.jpg';
  import google_3 from '../images/google_3.jpg';
  import google_4 from '../images/google_4.jpg';
  import google_5 from '../images/google_5.jpg';
  import google_6 from '../images/google_6.jpg';
  
  import osm_1 from '../images/osm_1.jpg';
  import osm_2 from '../images/osm_2.jpg';
  import osm_3 from '../images/osm_3.jpg';
  
  import other_1 from '../images/other_1.jpg';
  import other_2 from '../images/other_2.jpg';
  import other_3 from '../images/other_3.jpg';
  import other_4 from '../images/other_4.jpg';
  import other_5 from '../images/other_5.jpg';
  import other_6 from '../images/other_6.jpg';
  
  export default {
    components: { Divider, Glider },
    data () {
      return {
        google: [
          {src: google_1, alt:"Google Maps"},
          {src: google_2, alt:"Google Maps"},
          {src: google_3, alt:"Google Maps"},
          {src: google_4, alt:"Google Maps"},
          {src: google_5, alt:"Google Maps"},
          {src: google_6, alt:"Google Maps"},
        ],
        osm: [
          {src: osm_1, alt:"OSM"},
          {src: osm_2, alt:"OSM"},
          {src: osm_3, alt:"OSM"},
        ],
        other: [
          {src: other_1, alt:"Bing Maps"},
          {src: other_2, alt:"Bing Maps"},
          {src: other_3, alt:"Bing Maps"},
          {src: other_4, alt:"Here WeGo"},
          {src: other_5, alt:"Here WeGo"},
          {src: other_6, alt:"Here WeGo"},
        ],
      };
    },
  };
</script>
