<template>
  <h2 class="heading-3">{{$t('modern_thematic.title')}}</h2>
    <div class="divider"> <span class="span3"></span>
    </div>  
  
  <div v-html="$t('modern_thematic.sciences')">
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('modern_thematic.symbols')">
    </div>  
    <Glider :images="symbols" />
  </div>

  <Divider />
  
  <div class="container">  
    <div v-html="$t('modern_thematic.polygons')">
    </div>  
    <Glider :images="surface" />
  </div>
  
  <Divider />  
  
  <div class="container">  
    <div v-html="$t('modern_thematic.isoline')">
    </div>  
    <Glider :images="isoline" />
  </div>
  
  <Divider />

  <div class="container">
    <div v-html="$t('modern_thematic.diagrams')">
    </div>  
    <Glider :images="diagram" />
  </div>
  
  <Divider />
  
  <div class="container">
    <div v-html="$t('modern_thematic.cartograms')">
    </div>
    <Glider :images="kartogram" />
  </div>
  
  <Divider />

  <div class="container">
    <div v-html="$t('modern_thematic.points')">
    </div>
    <Glider :images="point" />
  </div>
  
  <Divider />
  
  <div class="container">
    <div v-html="$t('modern_thematic.movement')">
    </div>
    <Glider :images="mozgasvonal" />
  </div>
</template>

<script>
  import Divider from '../components/Divider.vue'
  import Glider from '../components/Glider.vue';  
  
  import symbols_1 from '../images/symbols_1.jpg';
  import symbols_2 from '../images/symbols_2.jpg';
  import symbols_3 from '../images/symbols_3.jpg';
  import symbols_4 from '../images/symbols_4.jpg';
  import symbols_5 from '../images/symbols_5.jpg';
  
  import surface_1 from '../images/surface_1.jpg';
  import surface_2 from '../images/surface_2.jpg';
  import surface_3 from '../images/surface_3.jpg';
  
  import isoline_1 from '../images/isoline_1.jpg';
  import isoline_2 from '../images/isoline_2.jpg';
  import isoline_3 from '../images/isoline_3.jpg';
  import isoline_4 from '../images/isoline_4.jpg';
  
  import diagram_1 from '../images/diagram_1.jpg';
  import diagram_2 from '../images/diagram_2.jpg';
  import diagram_3 from '../images/diagram_3.jpg';
  
  import kartogram_1 from '../images/kartogram_1.jpg';
  import kartogram_2 from '../images/kartogram_2.jpg';
  import kartogram_3 from '../images/kartogram_3.jpg';
  import kartogram_4 from '../images/kartogram_4.jpg';
  import kartogram_5 from '../images/kartogram_5.jpg';
  
  import point_1 from '../images/point_1.jpg';
  import point_2 from '../images/point_2.jpg';
  
  import mozgasvonal_1 from '../images/mozgasvonal_1.jpg';
  import mozgasvonal_2 from '../images/mozgasvonal_2.jpg';
  import mozgasvonal_3 from '../images/mozgasvonal_3.jpg';
  import mozgasvonal_4 from '../images/mozgasvonal_4.jpg';
  
  export default {
    components: { Divider, Glider },
    data () {
      return {
        symbols: [
          {src: symbols_1, alt:"road network"},
          {src: symbols_2, alt:"railroad"},
          {src: symbols_3, alt:"pictorial symbols"},
          {src: symbols_4, alt:"pictorial symbols"},
          {src: symbols_5, alt:"geometric symbols"},
        ],
        surface: [
          {src: surface_1, alt:"map depicting surfaces"},
          {src: surface_2, alt:"map depicting surfaces"},
          {src: surface_3, alt:"map depicting surfaces"},
        ],
        isoline: [
          {src: isoline_1, alt:"map with isolines"},
          {src: isoline_2, alt:"map with isolines"},
          {src: isoline_3, alt:"map with contours"},
          {src: isoline_4, alt:"map with isogonic lines"},
        ],
        diagram: [
          {src: diagram_1, alt:"map with pie charts"},
          {src: diagram_2, alt:"map with bar charts"},
          {src: diagram_3, alt:"map with stacked bar charts"},
        ],
        kartogram: [
          {src: kartogram_1, alt:"choropleth map"},
          {src: kartogram_2, alt:"choropleth map"},
          {src: kartogram_3, alt:"choropleth map"},
          {src: kartogram_4, alt:"choropleth map"},
          {src: kartogram_5, alt:"cartogram"},
        ],
        point: [
          {src: point_1, alt:"dot density map"},
          {src: point_2, alt:"dot density map"},
        ],
        mozgasvonal: [
          {src: mozgasvonal_1, alt:"flow map"},
          {src: mozgasvonal_2, alt:"flow map"},
          {src: mozgasvonal_3, alt:"flow map"},
          {src: mozgasvonal_4, alt:"flow map"},
        ],
      };
    },
  };
</script>
 
