<template>
  <h2 class="heading-1">{{$t('modern_technologies.title')}}</h2>
    <div class="divider"> <span class="span1"></span>
    </div>
      
    <div v-html="$t('modern_technologies.AR')">
    </div>  
    
  <Divider />
  
  <div class="container">  
    <div v-html="$t('modern_technologies.marker')">
    </div>  
    <div class="cont">
      <iframe 
        class="video" 
        src="https://www.youtube-nocookie.com/embed/X6nkyVcmklg" 
        title="Elsa 3D maps video" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('modern_technologies.location')">
    </div>
    <div class="cont">
      <iframe 
        class="video" 
        src="https://www.youtube-nocookie.com/embed/BAsYCvJttUg" 
        title="Starwalk 2 video" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
  </div>
   
  <Divider />
  
  <div class="container">  
    <div v-html="$t('modern_technologies.sandbox')">
    </div>
    <div class="cont">
      <iframe 
      class="video" 
      src="https://www.youtube-nocookie.com/embed/CE1B7tdGCw0" 
      title="AR Sandbox video" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
      </iframe>
    </div>
  </div>
</template>

<script>
  import Divider from '../components/Divider.vue';
  import Glider from '../components/Glider.vue';  
  
  export default {
    components: { Divider, Glider },
  };
</script>
