<template>
  <h2 class="heading-4">{{$t('traditional_multi.title')}}</h2>
    <div class="divider"> <span class="span4"></span>
    </div>
  
  <div v-html="$t('traditional_multi.before')">
  </div>
    
  <Divider />
  
  <div v-html="$t('traditional_multi.multimedia')">
  </div>
    
  <Divider />
  
  <div v-html="$t('traditional_multi.maps')">
  </div>
    
  <Divider />
  
  <div class="container">  
    <div v-html="$t('traditional_multi.atlases')">
    </div>  
    <Glider :images="atlas" />
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('traditional_multi.animation')">
    </div>
    <div class="cont">
      <video class="video" controls>
        <source :src="animation" type="video/mp4">
      </video> 
    </div>
  </div>
</template>
 
<script>
  import Divider from '../components/Divider.vue'
  import Glider from '../components/Glider.vue'
  
  import atlas_1 from '../images/atlas_1.jpg';
  import atlas_2 from '../images/atlas_2.jpg';
  import atlas_3 from '../images/atlas_3.jpg';
  import atlas_4 from '../images/atlas_4.jpg';
  import atlas_5 from '../images/atlas_5.jpg';
  import atlas_6 from '../images/atlas_6.jpg';
  
  import animation from '../images/video/animation.mp4';
  
  export default {
    components: { Divider, Glider },
    data () {
      return {
        animation,
        atlas: [
          {src: atlas_1, alt:"multimedia in an atlas"},
          {src: atlas_2, alt:"multimedia in an atlas"},
          {src: atlas_3, alt:"multimedia in an atlas"},
          {src: atlas_4, alt:"map and diagrams in an atlas"},
          {src: atlas_5, alt:"map and diagrams in an atlas"},
          {src: atlas_6, alt:"multimedia in an atlas"},
        ],
      };
    },
  };
</script>
