<template>
  <h2 class="heading-6">{{$t('webcartography.title')}}</h2>
    <div class="divider"> <span class="span6"></span>
    </div>
  
  <div v-html="$t('webcartography.maps')">
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('webcartography.interactivity')">
    </div>
    <Glider :images="interactivity" />
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('webcartography.arcgis_online')">
    </div>
    <div class="cont">
      <video class="video" controls>
        <source :src="arcgis_online" type="video/mp4">
      </video> 
    </div>
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('webcartography.real_time')">
    </div>
    <div class="cont">
      <iframe 
        class="video" 
        src="https://earth.nullschool.net/#current/ocean/surface/currents/equirectangular=-305.05,0.11,312" 
        title="a global map of wind, weather and ocean conditions" 
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('webcartography.senseable')">
    </div>
    <Glider :images="senseable" />
  </div>
  
  <Divider />
  
  <div class="container">  
    <div v-html="$t('webcartography.vakeger')">
    </div>
    <Glider :images="vakeger" />
  </div>
</template>

<script>
  import Divider from '../components/Divider.vue';
  import Glider from '../components/Glider.vue';  
  
  import interactivity_1 from '../images/interactivity_1.jpg';
  import interactivity_2 from '../images/interactivity_2.jpg';
  import interactivity_3 from '../images/interactivity_3.jpg';
  
  import arcgis_online from '../images/video/arcgis_online.mp4';
  
  import senseable_1 from '../images/senseable_1.jpg';
  import senseable_2 from '../images/senseable_2.jpg';
  import senseable_3 from '../images/senseable_3.jpg';
  import senseable_4 from '../images/senseable_4.jpg';
  import senseable_5 from '../images/senseable_5.jpg';
  import senseable_6 from '../images/senseable_6.jpg';
  import senseable_7 from '../images/senseable_7.jpg';
  
  import vakeger_1 from '../images/vakeger_1.jpg';
  import vakeger_2 from '../images/vakeger_2.jpg';
  import vakeger_3 from '../images/vakeger_3.jpg';
  import vakeger_4 from '../images/vakeger_4.jpg';
  
  export default {
    components: { Divider, Glider },
    data () {
      return {
        interactivity: [
          {src: interactivity_1, alt:"USGS National Map Viewer"},
          {src: interactivity_2, alt:"USGS National Map Viewer"},
          {src: interactivity_3, alt:"USGS National Map Viewer"},
        ],
        arcgis_online,
        senseable: [
          {src: senseable_1, alt:"desirable streets"},
          {src: senseable_2, alt:"desirable streets"},
          {src: senseable_3, alt:"MIT students in the world"},
          {src: senseable_4, alt:"MIT students in the world"},
          {src: senseable_5, alt:"ships sailing in Amsterdam"},
          {src: senseable_6, alt:"ships sailing in Amsterdam"},
          {src: senseable_7, alt:"ships sailing in Amsterdam"},
        ],
        vakeger: [
          {src: vakeger_1, alt:"the blind map game"},
          {src: vakeger_2, alt:"the blind map game"},
          {src: vakeger_3, alt:"the blind map game"},
          {src: vakeger_4, alt:"the blind map game"},
        ],
      };
    },
  };
</script>
